---
layout: default
---
<!-- <section class="row m-1"> -->
<div class="row">
  <div class="col-md-5">
      <h1>Hello!</h1>
      <img class="img-fluid rounded" src="https://github.com/zoelzw/zoelzw/blob/master/assets/Zoe2020.JPG?raw=true">
      <h5>🇨🇳 🏳️‍🌈 She/Her</h5>
      <br>
      <h2>I am Zoe, a researcher in<br>
        Human Computer Interaction <br>
        based in Chicago. </h2> 
  </div>
  <div class="col-md-7">
    <br>
    <br>
    <p> 
      <i class="fa fa-circle"></i> I recently graduated from the Computer Science master's program at the University of Chicago where I built wearables and haptics. My latest work with my colleagues, <a href="https://zoelzw.github.io/research/HandMorph.html" style="text-decoration: none; border-bottom: 1px solid #ff0000; color: #000000;">HandMorph</a>, won the Best Paper Award from ACM UIST. Previously, I studied Electrical Engineering at NC State University and researched in <a href="https://zoelzw.github.io/research/eHoloLens.html" style="text-decoration: none; border-bottom: 1px solid #ff0000; color: #000000;">Mixed Reality</a> 
       and <a href="https://zoelzw.github.io/research/eyetracking1.html" style="text-decoration: none; border-bottom: 1px solid #ff0000; color: #000000;">Eye Tracking</a>. <br>
      <br><i class="fa fa-circle-thin"></i> I am passionate about bringing independence to diverse audiences in the digital and physical world. I am interested in exploring new paradigms in HCI and things that don't make much sense yet :) <br>
      <br>
      <i class="fa fa-circle-o"></i> My long-term research goal is to develop interfaces(interactive devices and fabrication tools) that promote co-adaption of computational tools and users in order to augment human creativity and experiences. <br>
      <br>
    </p>
    <p>
      I'm excited to travel when we can. What about you? 
    </p>
    <p>
      <a href="mailto:ziweiliu@uchicago.edu" target="_blank" style="text-decoration: none; border-bottom: 1px solid #ff0000; color: #000000;">Write to me</a> / <a href="assets/ZiweiLiu_Resume.pdf" target="_blank" style="text-decoration: none; border-bottom: 1px solid #ff0000; color: #000000;">Resume</a> 
    </p>
  </div>
</div>
<!-- </section> -->

<!-- <section class="row m-2">
  <div class="col-md-6">
    {% include index/categories.html %}
  </div>
  <div class="col-md-6">
    {% include index/favourites.html %}
  </div>
</section>

<section class="row m-1">
  <div class="row">
    {% include index/columns.html %}
  </div>
</section>

{% include index/video.html %} -->

