---
layout: default
---
<div class="jumbotron" style="background-image: url(https://github.com/zoelzw/zoelzw.github.io/blob/master/assets/paper.jpg?raw=true); background-size: cover; height: 50vh; background-position:center;">
  <h1 class="col-md-8 mx-auto mb-8 d-flex justify-content-center text-light">{{ page.title }}</h1>
  <!-- <p class="lead text-light">{{ page.description }}</p> -->
</div>
<div class="row">
  <div class="col-md-4">
    <p> <b>Teammates:</b> {{page.team}}</p>
    <!-- <p> <b>Collaborators:</b> {{page.collaborators}}</p> -->
    
  </div>
  <div class="col-md-8">
  <!-- <h1>{{ page.title }}</h1> -->
    <p class="lead">{{ page.description }}</p>
    <!-- <p class="lead">{{ page.team }}</p> -->
    <p class="lead">{{ page.conf }}</p>
  </div>
</div>
<hr bordercolor = "lightgrey">
<article class="container">
  {{ content }}
</article>
